<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Editar Estudiante</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="container-contact100" style="background-image: url('images/bg-01.jpg');">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="post"
				th:action="@{/editarEstudiante}" th:object="${estudiante}">
				<span class="contact100-form-title"> Editar Estudiante </span>
				
				<input type="hidden" th:field="${estudiante.codigo}" th:value="${estudiante.codigo}">
				<div class="wrap-input100 rs1-wrap-input100 validate-input fullsize"
					data-validate="Name is required">
					<span class="label-input100" th:errors="*{nombre}" style="color: #FF0000; font-size: 12px"></span> 
						<input class="input100" th:field="*{estudiante.nombre}" type="text" name="nombre"
							th:value="${estudiante.nombre}" placeholder="Nombre">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100 validate-input fullsize"
					data-validate="Apellido is required">
					<span class="label-input100" th:errors="*{apellido}" style="color: #FF0000; font-size: 12px"></span> 
					<input class="input100" th:field="*{estudiante.apellido}" type="text" name="apellido"
						th:value="${estudiante.apellido}" placeholder="apellido">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100 validate-input fullsize" 
					data-validate="carne is required">
					<span class="label-input100" th:errors="*{carne}" style="color: #FF0000; font-size: 12px"></span> <input
						class="input100" th:field="*{estudiante.carne}" type="number" name="carne"
						th:value="${estudiante.carne}" placeholder="carne">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100 validate-input fullsize"
					data-validate="Carrera is required">
					<span class="label-input100" th:errors="*{carrera}"	style="color: #FF0000; font-size: 12px"></span> <input
						class="input100" th:field="*{estudiante.carrera}" type="text" name="carrera"
						th:value="${estudiante.carrera}" placeholder="Carrera">
				</div>
			
				<input type="submit" class="btn btn-outline-light" value="Guardar Cambios">
				<a href="/listado" class="btn btn-outline-light" >Lista Estudiante</a>
	</form>
	
	</div>
	</div>
<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async
		src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>